.SpreadsheetGridDropdown {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}

div.SpreadsheetGridDropdown__body {
  position: absolute;
  top: calc(100% + 12px);
  left: -10px;
  z-index: 100;
  background: white;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-size: 13px;
  letter-spacing: 0.5px;
  padding: 8px;
  max-height: 200px;
  overflow-y: auto;
  min-width: calc(100% + 2px);
  font-family: Arial;
}

div.SpreadsheetGridDropdown__body {
  box-sizing: content-box;
}
