.SpreadsheetGridContainer {
    position: relative;
    height: 100%;
}

.SpreadsheetGridContainer div,
.SpreadsheetGridContainer input {
    box-sizing: border-box;
}

.SpreadsheetGridScrollWrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    transition: height 0.3s;
    border-bottom: 1px solid #E6E1E8;
}