.SpreadsheetGridContainer {
  position: relative;
  height: 100%;
}

.SpreadsheetGridContainer div,
.SpreadsheetGridContainer input {
  box-sizing: border-box;
}

.SpreadsheetGridScrollWrapper {
  position: relative;
  transition: height 0.3s;
  border-bottom: 1px solid #e6e1e8;
}

.SpreadsheetGridScrollWrapper_scrollable {
  overflow-x: hidden;
  overflow-y: auto;
}
