.SpreadsheetGridInput {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 0;
  font-size: 13px;
  line-height: 15px;
  outline: none;
  font-family: Arial;
  background: transparent;
  text-overflow: ellipsis;
}
